body
{
	background-color:#ECECEC;
}

a.vstdbtn
{
	height:58px;
	width:150px;
	color:#EC008C;
	text-decoration:underline;
	background-color:#FFFFFF;
	border-radius:10px;
	border-color:#EC008C;
	font-size:30px;
	font-family:"Indie Flower", cursive;
	margin-top:15px;
	margin-right:10px;
	padding-top:20px;
	text-align:center;
	display:inline-block;
	box-shadow:0px 0px 0px 4px #EC008C inset;
}

a.btn
{
	color:#00AEEF;
	height:58px;
	width:150px;
	background-color:#FFFFFF;
	border-radius:10px;
	font-size:30px;
	font-family:"Indie Flower", cursive;
	margin-top:15px;
	margin-right:10px;
	padding-top:20px;
	text-align:center;
	display:inline-block;
}

a.btn:hover
{
	box-shadow:0px 0px 0px 4px #EC008C inset;
	text-decoration:underline;
}

a.email
{
	font-size:16px;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
	color:#221F1F;
}

div.header
{
	color:#79288C;
	font-size: 40px;
	font-weight:bold;
	font-family:"Crafty Girls", cursive;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:40px;
}

button.slide
{
	height:60px;
	width:200px;
	background-color:#00AEEF;
	color:#FFFFFF;
	font-size:40px;
	font-family:"Indie Flower", cursive;
	margin-top:5px;
	margin-bottom:15px;
	margin-left:5px;
	margin-right:5px;
	border-radius:10px;
	outline:none;
}

#bodystyle
{
	height:auto;
	width:860px;
	background-color:#FFFFFF;
	display:block;
	border-radius:25px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	word-wrap:break-word;
}

#bodystyle p
{
	color:#221F1F;
	font-size:22px;
	font-family:Handlee, cursive;
	margin-top:0;
	margin-left:40px;
}

#bodystyle ul
{
	color:#221F1F;
	font-family:Handlee, cursive;
	font-size:22px;
}

#bodystyle span
{
	color:#00AEEF;
	font-weight:bold;
}

#foot
{
	height:auto;
	width:800px;
	font-size:18px;
	font-family:Handlee, cursive;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
}

#foot img
{
	opacity:0.5;
	float:left;
}

#foot img:hover
{
	opacity:1.0;
}

#googlemap
{
	color:#FFFFFF;
	width:450px;
	height:200px;
	margin-right:40px;
	margin-bottom:30px;
	float:right;
}
